* {
    font-family: 'Courier New', Courier, monospace;
}

img {
    height: 200px;
    width: auto;
}

.title {
    text-align: center;

}

.main-menu {
    text-align: center;
    list-style-type: none;
}

.ingredients {
    background: grey;
}